@import url("../fonts/GothamPro/style.css");
@import url('https://fonts.googleapis.com/css2?family=Stalinist+One&display=swap');
* {
  padding: 0;
  margin: 0;
  outline: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body,
html {
  width: 100%;
  height: 100%;
}

.hidden {
  opacity: 0;
}

.a {
  text-decoration: none;
  cursor: pointer;
}

.individual_block {
  display: flex;
  background-image: url(../images/background_image.png);
  background-size: cover;
  background-position: center center;
  min-width: 100%;
  min-height: 100%;
  height: 100%;
  filter: drop-shadow(0px 15px 20px rgba(0, 0, 0, 0.4));
}

.header_menu {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  list-style-type: none;
  width: 90%;
  align-items: center;
}

.header_menu_button_active {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 196px;
  height: 57px;
  border-radius: 28px;
  background-color: #333333;
  opacity: 0.95;
  transition: 0.5s;
}

.header_menu_button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 196px;
  height: 57px;
  border-radius: 28px;
  background-color: #333333;
  opacity: 0.5;
  transition: 0.5s;
}

#open_menu_button {
  display: none;
}

#dropdown_menu {
  position: absolute;
  display: none;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  width: 100%;
  z-index: 10;
  background-color: #FFFFFF;
  height: 100%;
  list-style: none;
  animation: openMenu 1s ease-out;
  top: 0;
}

.computer_menu_version {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  list-style-type: none;
  width: 100%;
  align-items: center;
}

.gif {
  display: none;
  height: 133px;
  width: 150px;
}

.header_menu_button_text {
  font-size: 20px;
  letter-spacing: -1px;
  line-height: 30px;
  color: #ffffff;
  font-family: "Gotham Pro Light";
  font-weight: 300;
}

.header_menu_button:hover,
.header_menu_button_active:hover {
  opacity: 0.95;
  cursor: pointer;
}

.individual_block_content {
  display: flex;
  width: 59%;
  margin-left: 41%;
  margin-top: 50px;
  align-items: flex-start;
  flex-direction: column;
}

.main_header_text {
  margin-top: 140px;
  font-size: 128px;
  letter-spacing: 2px;
  line-height: 175px;
  color: #ffffff;
  font-family: "Stalinist One", cursive;
}

.main_header_red_text {
  color: #CC3333;
  font-family: "Stalinist One", cursive;
  font-size: 128px;
  letter-spacing: 2px;
  line-height: 175px;
  white-space: nowrap;
}

.main_individual_text_header {
  font-size: 30px;
  letter-spacing: 0px;
  line-height: 48px;
  color: #ffffff;
  font-family: "Gotham Pro";
  font-weight: 800;
  font-style: italic;
}

.main_individual_text {
  font-size: 30px;
  letter-spacing: 0px;
  line-height: 48px;
  color: #ffffff;
  font-family: "Gotham Pro";
  font-weight: 500;
  font-style: italic;
  margin: 30px 0 0 0;
}

.individual_text_block {
  display: flex;
  margin: 50px 0 0 0;
  flex-direction: column;
}

.main_header_text:hover,
.main_header_red_text:hover {
  cursor: pointer;
}

.books_block {
  width: 100%;
  display: flex;
  padding: 120px 0 0 0;
  flex-direction: column;
  align-items: center;
  background-color: #E4E4E4;
}

.books_block_header_text {
  font-size: 72px;
  letter-spacing: -4px;
  line-height: 24px;
  color: #000000;
  font-family: "Gotham Pro";
  font-weight: 800;
}

.books_slider .slider_image {
  box-shadow: -15px 0 20px rgba(0, 0, 0, 0.5);
  margin-left: 40px;
}

.book_carousel_block {
  min-width: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 140px 0 140px 0;
}

.books_slider .slider__item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.books_slider {
  min-width: 0;
  width: 70%;
}

.slick-track {
  display: flex;
}

.slick-list {
  overflow: hidden;
}

.books_slider .slick-arrow {
  font-size: 0;
}

.books_slider .slick-dots {
  display: flex;
  align-items: center;
  justify-content: center;
}

.books_slider .slick-dots li {
  list-style-type: none;
  margin: 0 10px;
}

.books_slider .slick-dots button {
  border: none;
  font-size: 0;
  width: 30px;
  height: 30px;
  background-color: #FFFFFF;
  border-radius: 50%;
  transition: 0.5s ease;
}

.books_slider .slick-dots button:hover {
  cursor: pointer;
}

.books_slider .slick-dots li.slick-active button {
  width: 45px;
  height: 45px;
  filter: drop-shadow(0 0 3px rgba(0, 0, 0, 0.45));
}

.books_slider .slider__item:first-child:before,
.books_slider .slider__item:first-child:after {
  border-top: 1px solid #000;
}

.description_block_text {
  font-size: 25px;
  letter-spacing: 0px;
  line-height: 30px;
  color: #000000;
  font-family: "Gotham Pro Light";
  font-weight: 100;
  font-style: italic;
  margin: 15px 0 15px 0;
}

.description_block {
  display: inline-table;
  border: solid #CC3333;
  padding: 40px;
  border-width: 0 15px;
  width: 50%;
  border-collapse: collapse;
}

.books_slider .description_block:last-child:before,
.books_slider .description_block:last-child:after {
  margin: 5px 0 5px 0;
  border-top: 15px solid #CC3333;
  border-bottom: 15px solid #CC3333;
}

.books_slider .description_block:before,
.books_slider .description_block:after {
  display: table-cell;
  content: "\a0\a0\a0\a0\a0\a0\a0\a0\a0\a0\a0\a0";
  width: .25em;
}

.portfolio_block {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #333333;
  width: 100%;
  min-width: 0;
  filter: drop-shadow(0 0 30px rgba(0, 0, 0, 0.7));
}

.portfolio_header_text {
  font-size: 72px;
  letter-spacing: -4px;
  line-height: 24px;
  color: #FFFFFF;
  font-family: "Gotham Pro";
  font-weight: 800;
  margin: 150px 0 80px 0;
}

.portfolio_slider .slider__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.portfolio_slider {
  min-width: 0;
  width: 75%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 0 0 120px 0;
}

.portfolio_slider_text {
  font-size: 40px;
  letter-spacing: -2px;
  line-height: 60px;
  color: #FFFFFF;
  font-family: "Gotham Pro";
  font-weight: 300;
  text-align: center;
}

.portfolio_slider .slick-arrow {
  position: absolute;
  top: 50%;
  font-size: 0;
  margin: -150px 0 0 0;
  z-index: 10;
  width: 142px;
  height: 203px;
  border: 0;
}

.slick-arrow:hover {
  cursor: pointer;
}

.portfolio_slider .slick-arrow.slick-prev {
  left: 0;
  background: url("../images/left_arrow.png") 0 0 no-repeat;
}

.portfolio_slider .slick-arrow.slick-next {
  right: 0;
  background: url("../images/right_arrow.png") 0 0 no-repeat;
}

.feedback_block {
  background: linear-gradient(to right, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 1)), url("../images/react_background_icon.png");
}

.feedback_header_text {
  font-size: 60px;
  letter-spacing: -3px;
  line-height: 24px;
  color: #000000;
  font-family: "Gotham Pro Bold";
  font-weight: 800;
  padding: 100px 0 0 0;
}

.feedback_block_form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 600px;
  height: 870px;
  padding: 0 0 70px 60%;
}

.feedback_form {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  padding: 0 0 0 110px;
}

.feedback_block_block {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 767px;
  border-radius: 60px;
  background: #3399CC url("../images/clouds.png") no-repeat;
  background-position: -10px 105%;
  border: 4px solid #ABABAB;
  margin: 50px 0 0 0;
}

.form_header_text {
  font-size: 30px;
  letter-spacing: -1px;
  line-height: 24px;
  color: #000000;
  font-family: "Gotham Pro Light";
}

.form_header_block {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: 100px;
  width: 100%;
  background-color: #FFFFFF;
  border-top-left-radius: 55px;
  border-top-right-radius: 55px;
}

.web_icon {
  width: 62px;
  height: 63px;
}

.input_form_text {
  border: 0;
  width: 424px;
  height: 77px;
  border-radius: 39px;
  background-color: #ffffff;
  font-size: 20px;
  letter-spacing: -1px;
  line-height: 24px;
  color: #666666;
  font-family: "Gotham Pro";
  padding: 0 0 0 33px;
  margin: 58px 0 0 0;
}

.input_form_submit {
  background: url("../images/send_icon.png") no-repeat scroll 230px 25px;
  width: 311px;
  height: 107px;
  border-radius: 40px;
  background-color: #ffffff;
  border: 4px solid #999999;
  font-size: 24px;
  letter-spacing: -1px;
  line-height: 24px;
  color: #3399cc;
  font-family: "Gotham Pro";
  padding: 0 20px 0 0;
  margin: 87px 0 33px 0;
}

.input_form_submit:hover {
  cursor: pointer;
}

.footer_block {
  height: 250px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #FFFFFF;
}

.footer_text {
  font-size: 24px;
  letter-spacing: -1px;
  line-height: 24px;
  color: #333333;
  font-family: "Gotham Pro Light";
  margin: 0 0 37px 0;
}

.footer_red_text {
  font-size: 24px;
  letter-spacing: -1px;
  line-height: 24px;
  color: #993333;
  font-family: "Gotham Pro Light";
}


/* Медиа запросы */

@media (max-width: 1500px) {
  .individual_block_content {
    margin-left: 0;
    width: 100%;
  }
  .header_menu {
    width: 90%;
    align-self: center;
  }
  .name_block,
  .individual_text_block {
    margin-left: 35%;
  }
  .main_header_text,
  .main_header_red_text {
    font-size: 100px;
  }
}

@media (max-width: 1020px) {
  .individual_block_content {
    margin: 10px 0 0 0;
    align-items: center;
    justify-content: flex-start;
  }
  .name_block,
  .individual_text_block {
    margin-left: 0;
  }
  .main_header_text {
    margin-top: 0;
  }
  .main_header_text,
  .main_header_red_text {
    font-size: 85px;
  }
  .header_menu {
    flex-direction: column;
  }
  .header_menu_button,
  .header_menu_button_active {
    margin-top: 30px;
  }
  .individual_block {
    background: #333333;
  }
  .individual_text_block {
    width: 556px;
    margin: 0;
  }
  .main_individual_text_header {
    font-size: 22px;
  }
  .main_individual_text {
    font-size: 18px;
    margin: 0;
  }
  #open_menu_button {
    display: flex;
    margin: 0;
  }
  .computer_menu_version {
    display: none;
  }
  .gif {
    display: block;
  }
}

@keyframes openMenu {
  0% {
    top: 100%;
  }
  100% {
    top: 0;
  }
}